#About__photo img {
  width: 250px;
  border-radius: 50%;
}

#About__photo h2 {
  text-align: center;
}

#About__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-indent: 40px;
}

h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}