#About__photo img {
  width: 250px;
  border-radius: 50%;
}

#About__photo h2 {
  text-align: center;
}

#About__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

p {
  text-indent: 20px;
}

h3 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.hobbyIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.fa_dumbbell, .fa_hiking, .fa_utensils {
  font-size: 3em;
}

@media only screen and (max-width: 812px) {
  .fa_dumbbell, .fa_hiking, .fa_utensils {
    font-size: 2em;
  }
}