#toggleMenu {
  display: block;
  position: relative;
  top: 23px;
  left: 23px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#toggleMenu a {
  text-decoration: none;
  transition: color 0.3 ease;
}


#toggleMenu li:hover {
  color: rgba(206, 129, 135, 0.459);
}

#toggleMenu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#toggleMenu .fa_bars, #toggleMenu .fa_times {
  display: block;
  position: relative;
  font-size: 1.5em;
  z-index: 1;
}

#navMenu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: whitesmoke;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  background-color: whitesmoke;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#navMenu li {
  padding: 10px 5px;
  width: 177px;
  font-size: 22px;
  color: rgb(23, 33, 65);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

#toggleMenu input:checked ~ ul {
  transform: none;
}

@media only screen and (min-width: 768px) {
  .App {
    background-color: whitesmoke;
  }

  #toggleMenu input {
    display: none;
  }

  #toggleMenu .fa_bars, #toggleMenu .fa_times {
    display: none;
  }

  #toggleMenu li:hover {
    color: rgb(23, 33, 65);
  }

  #navMenu li {
    margin-bottom: 10px;
  }

  .active {
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #navMenu {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    position: relative;
    padding: 20px;
    transform-origin: none;
    transform: none;
    transition: none;
    background: none;
  }

  #navMenu .inactive {
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: linear-gradient(to left,
                                      transparent,
                                      transparent 50%,
                                      rgba(255, 192, 203, 0.596) 50%,
                                      rgba(255, 192, 203, 0.596));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .40s ease-in;
  }

  #navMenu .inactive:hover {
    background-position: 0 0;
  }
}